.product{
	$imageSize: 8rem;
	$imageOffset: 20/100;
	
	position: relative;
	padding-top: ($imageOffset * $imageSize);
	.box{
		padding-top: ($imageSize - ($imageOffset * $imageSize) );
	}
	.image{
		height: $imageSize;
		width: $imageSize;
		position: absolute;
		top: 0;
		left:50%;
		transform: translate(-50%)

	}
}