<template>
    <div class="modal is-active" v-if="data.active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{this[data ? data.message : "success"].title}}</p>
                <button class="delete" aria-label="close" @click.prevent="data.active = false"></button>
            </header>
            <section class="modal-card-body">
                {{this[data ? data.message : "success"].body}}
            </section>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        data(){
            return{
                success: {
                    title: "Payment Accepted",
                    body: "Thank you for shopping with " + process.env.MIX_APP_NAME,
                },
                failure: {
                    title: "Payment Failed",
                    body: "You have not been charged"
                }
            };
        }
    }
</script>
