<template>
    <form method="post" class="has-text-centered">
        <button class="button is-primary" type="submit" @click.prevent="purchase">Buy for &pound;{{ (product.price/100).toFixed(2) }}</button>
        <modal :data="this.modal"></modal>
    </form>
</template>

<script>
    export default {
        props: ['product','user'],
        data(){
            return{
                key: process.env.MIX_STRIPE_KEY,
                token: '',
                email: (this.user ? this.user.email : ''),
                handler: {},
                modal: {
                    message: "success",
                    active: false
                }
            }
        },
        mounted(){
            this.handler = StripeCheckout.configure({
                key: this.key,
                image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                locale: 'auto',
                token: (token) => {
                    this.token = token.id;
                    this.email = token.email;
                    axios.post("/purchases/execute",{
                        productID: this.product.id,
                        email: this.email,
                        token: this.token
                    }).then( (response) => {
                        this.modal.message = "success"
                        this.modal.active = true;
                    }).catch( (error) => {
                        this.modal.message = "failure"
                        this.modal.active = true;
                    });
                }
            });
        },
        methods:{
            purchase(){
                this.handler.open({
                    name: process.env.MIX_APP_NAME,
                    description: this.product.name + " - " + this.product.description,
                    zipCode: true,
                    amount: this.product.price,
                    currency: 'gbp',
                    email: this.email
                });
            }
        }
    }
</script>
